<ul class="links">
    <li class="{% if page.url == "/" %}active{% endif %}"><a href="{{ "/" | absolute_url }}">About me</a></li>
    <li class="{% if page.url contains "/blog/" %}active{% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
</ul>

<ul class="icons">
    <li><a target="_blank" href="https://github.com/{{ site.github }}" class="icon fa-brands fa-github" rel="nofollow" title="GitHub"><span class="label">GitHub</span></a></li>
    <li><a target="_blank" href="https://linkedin.com/in/{{ site.linkedin }}" class="icon fa-brands fa-linkedin" rel="nofollow" title="LinkedIn"><span class="label">LinkedIn</span></a></li>
    <li><a target="_blank" href="mailto:{{ site.email }}" class="icon fa-regular fa-envelope" rel="nofollow" title="Email"><span class="label">Email</span></a></li>
    <li><a target="_blank" href="https://t.me/{{ site.telegram }}" class="icon fa-brands fa-telegram" rel="nofollow" title="Telegram"><span class="label">Telegram</span></a></li>
    <li><a target="_blank" href="https://instagram.com/{{ site.instagram }}" class="icon fa-brands fa-instagram" rel="nofollow" title="Instagram"><span class="label">Instagram</span></a></li>
    <li><a target="_blank" href="https://twitter.com/{{ site.twitter }}" class="icon fa-brands fa-x-twitter" rel="nofollow" title="X (Twitter)"><span class="label">Twitter</span></a></li>
</ul>
