<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body class="is-loading">

<div id="wrapper" class="fade-in">
    <header id="header">
        <a href="{{ "/" | absolute_url }}" class="logo">{{ site.title }}</a>
    </header>

    <nav id="nav">
        {% include nav.html %}
    </nav>

    <div id="main">
        <article class="post featured">
            <header class="major">
                <h2>Personal Blog</h2>
                <p>IT, Design, Travelling, Photography</p>
            </header>
        </article>

        <section class="posts">
            {% for post in site.posts %}
            <article>
                <header>
                    <span class="date">{{ post.date | date_to_string }}</span>
                    <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
                </header>
                {% if post.image %}
                <a href="{{ post.url | absolute_url }}" class="image fit">
                    <img src="{{ post.image | absolute_url }}" alt="{{ post.title }}">
                </a>
                {% endif %}
                <p>{{ post.excerpt }}</p>
                <ul class="actions">
                    <li><a href="{{ post.url | absolute_url }}" class="button">Read</a></li>
                </ul>
            </article>
            {% endfor %}
        </section>
    </div>

    {% include foot.html %}
</div>

{% include scripts-main.html %}

</body>
</html>
